.btn-outline-danger {
  color: $accent-color !important;
  border-color: $accent-color !important;
}

.btn-outline-danger:hover {
  color: white !important;
  background-color: $accent-color !important;
}