.single-news-card{
  padding: 0 !important;
}

.carousel-card {
  // height: 10px !important;
  color: red !important;
}

.advertisement-large-1 {
  width: 100%;
  height: 20rem;
  background-color: red;
}

.advertisement-long-2-2 {
  width: 100%;
  height: 25rem !important;
  background-color: red;
}

.advertisement-square-1 {
  width: 50vw;
  height: 60vh;
  background-color: red;
}

.advertisement-long-1-2 {
  width: 70vw;
  height: 25vh;
  background-color: red;
}