.single-news-card {
  padding: 0 !important;
}

.carousel-card {
  // height: 10px !important;
  color: red !important;
}

/* Page Styles */
.btn-outline-danger {
  color: #e92525 !important;
  border-color: #e92525 !important;
}

.btn-outline-danger:hover {
  color: white !important;
  background-color: #e92525 !important;
}

/* Sub-Topics Styles */
.card-content {
  padding: 15px !important;
}

/* News Styles */

.news-container {
  .news-heading {
    font-weight: 700;
  }

  .news-img {
    height: 40rem;
    background-color: red;
  }

  border: rgba(0, 0, 0, 0.212) solid 1px;
  padding: 10px;

  .news-time-wrapper {
    font-size: 0.9rem;
  }

  .news-editor {
    color: #e92525;
  }
}

.news-text {
  font-family: "Playfair Display";
  font-size: 1.2rem;
}

.row {
  padding: 15px;
}

.news-body {
  // background-color: red !important;
  width: 100% !important;

  // display: block;
  iframe {
    width: 100% !important;
  }
}


#content {
  display: flex;
  ;
}

.my-container {
  width: 100%;
  padding: 0 15px 0 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1600px) {
  .my-container {
    max-width: 1600px;
  }
}

@media (min-width: 1900px) {
  .my-container {
    max-width: 1900px;
  }
}

@media (min-width: 768px) {
  .my-container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .my-container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .my-container {
    width: 1180px;
  }
}

@media (min-width: 1400px) {
  .my-container {
    width: 1300px;
  }
}