@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&family=Roboto:wght@300;400;500&display=swap");

* {
    font-family: 'Roboto', sans-serif;
}

.page-component{
    background-color: #cecdcd40;
    min-height: 100vh;
}

.row {
    /* margin: 0 !important; */
}