/* Start Navigation Styles */

// .my-container {
//   width: 100%;
//   display: flex;
//   margin: 0 90px;
// }

// @media only screen and (max-width: 768px) {
//   .my-container {
//     margin: 0 !important;
//     padding: 0 !important;
//     display: inline;
//   }
//   .nav-container {
//     padding: 0 !important;
//   }
// }

.site-name {
  font-family: "Playfair Display", serif !important;
  font-weight: 700 !important;
  font-size: 2.1rem !important;
}

.navigation {
  background-color: #000000;
  .top-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .date-area {
      color: white;
      width: max-content;
    }
  }

  .nav-container {
    display: flex !important;
    padding: 0 30px !important;

    -webkit-box-shadow: 0 10px 6px -6px rgba(129, 129, 129, 0.3);
    -moz-box-shadow: 0 10px 6px -6px rgba(129, 129, 129, 0.3);
    box-shadow: 0 10px 6px -6px rgba(129, 129, 129, 0.3);

    .topics-container {
      .topic {
        font-weight: 500;
        font-size: 1.2rem;
        padding-bottom: 0 !important;
        color: rgb(180, 180, 180);
      }
      .topic-active {
        color: rgb(242, 242, 247) !important;
      }
      .sub-topic {
        font-weight: 400;
        font-size: 1.2rem;
      }
    }
  }
  .search-wrapper {
    .search-input {
      background-color: transparent;
      border: none !important;
      color: rgb(174, 174, 178);
      border-bottom: 1px solid rgb(180, 180, 180) !important;
      // border-radius: 20% !important;
    }
    .search-btn {
      color: rgb(242, 242, 247) !important;
    }
    input[type="search"]:focus {
      outline: none !important;
      border: solid red;
    }
    .search-btn:hover {
      transform: scale(1.5);
      transition: transform 0.2s ease-in-out;
    }
  }
  a {
    outline: 0 !important;
  }
}

.my-dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(28, 28, 30);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: rgba(0, 0, 0, 0.2);
  color: #e92525 !important;
}

/* Show the dropdown menu on hover */
.my-dropdown:hover .dropdown-content {
  display: block;
  padding: 10px;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.my-dropdown:hover .my-dropbtn {
  background-color: #e92525;
  color: rgb(242, 242, 247) !important;
}

/* End Navigation Styles */

/* Start Footer Styles */
.footer {
  min-height: 30vh;
  background-color: #000000;
  .footer-heading-text {
    color: #d10014;
    font-weight: bold;
    letter-spacing: 0.3rem;
    font-size: 1.5rem;
    text-transform: uppercase;
  }
  a {
    color: white !important;
  }
  a:hover {
    text-decoration: none;
  }
  .footer-links:hover {
    color: #d10014 !important;
    text-decoration: none;
  }
  .footer-links{
    outline: 0;
    font-size: 1.1rem;
  }
  .footer-brand {
    border-bottom: solid rgba(255, 255, 255, 0.342) 1px;
  }
  .copyrights {
    color: rgba(255, 255, 255, 0.342) !important;
  }
}
/* End Footer Styles */


.heading-text {
  font-family: "Playfair Display";
  // font-weight: 600;
  font-size: 2rem;
}