@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

.my-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1600px) {
  .my-container {
    max-width: 1600px;
  }
}

@media (min-width: 1900px) {
  .my-container {
    max-width: 1900px;
  }
}

@media (min-width: 768px) {
  .my-container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .my-container {
    width: 980px;
  }
}

@media (min-width: 1200px) {
  .my-container {
    width: 1180px;
  }
}

@media (min-width: 1400px) {
  .my-container {
    width: 1380px;
  }
}

* {
  font-family: "Poppins", sans-serif;
}

.text-bold {
  color: #000000;
  font-weight: 600;
}

.text-bold-big {
  font-weight: 600;
  font-size: 1.8rem;
}

.text-bold-small {
  font-weight: 600;
  font-size: 1.1rem;
}

.text-selected {
  color: #f2994a !important;
  font-weight: 600 !important;
}

.inline-nav-link {
  font-weight: 600;
  font-size: 1.2rem;
}

a {
  text-decoration: none;
  color: #000000;
  outline: none !important;
}