@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&family=Roboto:wght@300;400;500&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

.site-name {
  font-family: "Playfair Display", serif !important;
  font-weight: 700 !important;
  font-size: 2.1rem !important;
}

.page-component {
  min-height: 80vh;
}

/* Container */
.my-container {
  width: 100%;
  padding: 0 15px 0 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1600px) {
  .my-container {
    max-width: 1600px;
  }
}

@media (min-width: 1900px) {
  .my-container {
    max-width: 1900px;
  }
}

@media (min-width: 768px) {
  .my-container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .my-container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .my-container {
    width: 1180px;
  }
}

@media (min-width: 1400px) {
  .my-container {
    width: 1380px;
  }
}

/* Start Footer Styles */
.footer {
  min-height: 30vh;
  background-color: #000000;
}

.footer-heading-text {
  color: #d10014;
  font-weight: bold;
  letter-spacing: 0.3rem;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.footer a {
  color: white !important;
}
.footer a:hover {
  text-decoration: none;
}
.footer-links:hover {
  color: #d10014 !important;
  text-decoration: none;
}
.footer-links {
  outline: 0;
  font-size: 1.1rem;
}
.footer-brand {
  border-bottom: solid rgba(255, 255, 255, 0.342) 1px;
}
.copyrights {
  color: rgba(255, 255, 255, 0.342) !important;
}
/* End Footer Styles */

/* Text Styles */
.heading-text {
  font-family: "Playfair Display";
  font-size: 2rem;
}

.small-heading-text {
  font-weight: 400;
  font-size: 1.4rem;
  color: #000000;
}

.blue-link-text {
  font-size: 1.1rem;
  line-height: normal;
  color: #326891;
}

.blue-link-text:hover {
  text-decoration: underline;
  color: #000000  ;
}

.vertical-line {
  border-left: 1px solid rgba(0, 0, 0, 0.13);
  height: 80vh;
}