@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

.my-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1600px) {
  .my-container {
    max-width: 1600px;
  }
}

@media (min-width: 1900px) {
  .my-container {
    max-width: 1900px;
  }
}

@media (min-width: 768px) {
  .my-container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .my-container {
    width: 980px;
  }
}

@media (min-width: 1200px) {
  .my-container {
    width: 1180px;
  }
}

@media (min-width: 1400px) {
  .my-container {
    width: 1380px;
  }
}

* {
  font-family: "Poppins", sans-serif;
}

.text-bold {
  color: #000000;
  font-weight: 600;
}

.text-bold-big {
  font-weight: 600;
  font-size: 1.5rem;
}

.text-bold-small {
  font-weight: 600;
  font-size: 1.1rem;
}

.text-selected {
  color: #d30101 !important;
  font-weight: 600 !important;
}

.nav-link {
  font-size: 1.2rem;
}

/* .nav-link:hover {
  text-decoration: underline solid 3px #d30101 !important;
} */

.inline-nav-link {
  font-weight: 600;
  font-size: 1.2rem;
}

a {
  text-decoration: none !important;
  color: #000000 !important;
  outline: none !important;
}

.truncate-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.gradient-overlay {
  background: rgb(234, 5, 5);
  background: linear-gradient(
    60deg,
    rgba(234, 5, 5, 0.3252100156468838) 0%,
    rgba(4, 132, 4, 0.5689074946384804) 100%
  );
}
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #ff0000;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;

    text-align:     center;
    vertical-align: middle;
}
/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loading-screen{
  background-color: #ffffff;
    position:       fixed;
    top:            0;
    left:           0;
    width:          100%;
    height:         100%;
    z-index: 100;
}